@font-face {
	font-family: 'Gotham Pro Light';
	src: url('../fonts/GothamPro-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro Medium';
	src: url('../fonts/GothamPro-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #292929;
	color: #fff;
	font-family: "Gotham Pro", sans-serif;
}

.header {
	padding-top: 50px;
}

.header-description {
	font-family: "Gotham Pro Light", sans-serif;
	font-weight: 300;
	font-style: normal;
	line-height: normal;

}

.text-color-red {
	font-family: "Gotham Pro Medium", sans-serif;
	color: #ff3469;
}

.header-phone {
	font-family: "Gotham Pro", sans-serif;
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
	text-align: right;
	font-weight: 500;
	display: block;
}

.header-info {
	font-size: 12px;
	font-weight: 400;
	margin-top: 7px;
	display: block;
	text-align: right;
}

.callback {
	color: #ff3469;
	font-size: 16px;
	font-weight: 400;
	text-align: right;
	display: block;
	margin-top: 16px;
}

.title {

}

.title-text {
	font-family: "Gotham Pro Medium";
	text-align: center;
	display: block;
	font-size: 34px;
	font-weight: 500;
	text-transform: uppercase;
}

.title-description {
	font-family: "Gotham Pro Light", sans-serif;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.18px;
	text-align: center;
	display: block;
	text-transform: uppercase;
	margin-top: 30px;
}

.text-bold {
	font-family: "Gotham Pro Medium";
	font-weight: 500;
	letter-spacing: 0.18px;
}
