@font-face {
	font-family: 'Gotham Pro Light';
	src: url('../fonts/GothamPro-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro Medium';
	src: url('../fonts/GothamPro-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before {
	box-sizing: border-box;
}

body {
	background-color: #292929;
	color: #fff;
	font-family: "Gotham Pro", sans-serif;
	margin: 0;
}

.header {
	padding-top: 50px;
}

.header-description,
.footer-description {
	font-family: "Gotham Pro Light", sans-serif;
	font-size: 12px;
	letter-spacing: 0.12px;
}

.text-color-red {
	font-family: "Gotham Pro Medium", sans-serif;
	color: #ff3469;
}

.text-color-red-sale {
	color: #ff1844;
}

.header-contacts {
	text-align: right;
}

.header-phone {
	font-family: "Gotham Pro", sans-serif;
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
}

.header-info {
	font-size: 12px;
	font-weight: 400;
	margin-top: 7px;
	display: block;
}

.callback {
	color: #ff3469;
	font-size: 16px;
	font-weight: 400;
	display: block;
	margin-top: 16px;
}

.hero {
	padding-top: 100px;
	padding-bottom: 77px;
	text-align: center;
	border-bottom: 1px solid #4c4c4c;
}

.hero-image-left {
	position: absolute;
	width: 93px;
	height: 153px;
	padding: 0;
	left: 100px;
	z-index: -1;
}

.hero-image-right {
	position: absolute;
	width: 71px;
	height: 61px;
	padding: 0;
	right: 150px;
	top: 420px;
	z-index: -1;
}

.hero-title {
	font-family: "Gotham Pro Medium", sans-serif;
	text-align: center;
	margin: auto auto 34px;
	display: block;
	font-size: 34px;
	letter-spacing: 0.34px;
	font-weight: 500;
	text-transform: uppercase;
	max-width: 692px;
}

.hero-description {
	font-family: "Gotham Pro Light", sans-serif;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.18px;
	text-align: center;
	display: block;
	text-transform: uppercase;
	margin: auto;
	max-width: 590px;
}

.flowers-slider {
	width: 100%;
	text-align: center;
	margin-top: 83px;
	margin-bottom: 87px;
}

.flowers-slider .slider-button-prev::after,
.flowers-slider .slider-button-next::after {
	color: gray;
}

.reviews-slider .slider-button-prev::after,
.reviews-slider .slider-button-next::after {
	color: red;
	font-size: 30px;
}

.reviews-slider {
	margin-top: 98px;
}

:root {
	--swiper-navigation-size: 18px !important
}

.hero-cta {
	font-family: "Gotham Pro Light", sans-serif;
	display: block;
	font-size: 19px;
	text-transform: uppercase;
	letter-spacing: 0.19px;
	margin-bottom: 36px;
}

.button {
	display: inline-block;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	background-color: #ff2e55;
	padding: 30px 65px 26px;
	margin-top: 36px;
	cursor: pointer;
	border: none
}

img.slide-image {
	background: radial-gradient(50% 50%, #efb8b87a, #cae4d800);
}

.reviews {
	padding-top: 100px;
	padding-bottom: 50px;
}

.review-image {
	width: 220px;
	height: 220px;
	flex-shrink: 0;
	border-radius: 50%;
	overflow: hidden;
	font-family: "Gotham Pro Light", sans-serif;
	font-size: 20px;
	font-weight: 500;
	position: relative;
	margin-right: 50px;
}

.review-image:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
}

.review-image > * {
	position: relative
}

.review-image-1 {
	background: #000 url("../img/reviews/review-1.jpg");
	background-size: cover;
}

.review-image-2 {
	background: #000 url("../img/reviews/review-2.jpg");
	background-size: cover;
}

.review-name {
	margin-bottom: 7px;
}

.review-slide {
	padding-left: 70px;
	padding-right: 70px;
}

.review-text {
	font-size: 18px;
	letter-spacing: 0.18px;
	line-height: 1.4;
	padding-right: 15px;
}

.review-link {
	color: #f24841;
	font-size: 18px;
	letter-spacing: 0.18px;
}

.section-title {
	font-size: 30px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.3px;

}

.advantages {
	text-align: center;
	padding-bottom: 100px;
	margin-top: 50px;
	border-bottom: 1px solid #4c4c4c;
}

.advantages-wrapper {
	min-height: 85px;
	margin-bottom: 30px;
}

.advantages-title {
	font-family: "Gotham Pro Medium", sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	margin: auto
}

.slider-nav {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	z-index: 9;
}

.slider-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 50px 0;
}

.slider-button svg path:hover {
	fill: #f24841
}

.reviews .slider-button svg path {
	fill: #f24841
}

.goods {
	padding-top: 100px;
	padding-bottom: 50px;
	text-align: center;
}

.section-title {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 0.3px;
}

.section-description {
	font-size: 18px;
	letter-spacing: 0.18px;
	text-align: center;
}

.card {
	border: 3px solid #fff;
	align-items: center;
	padding: 33px 35px 30px 35px;
	margin-top: 27px;
}

.card-title {
	margin-top: 23px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.card:not(:last-child) {
	/*margin-right: 27px;*/
}

.card-label {
	display: block;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 7px;
}

.card-image {
	max-width: 118px;
}

.color-label {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.color-input {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	z-index: -9;
}

.color-label.white {
	background-color: white;
}

.color-label.biege {
	background-color: #f7b496;
}

.color-label.pink {
	background-color: #ed366e;
}

.color-label.red {
	background-color: #ff0000;
}

.color-label.blue {
	background-color: #12129d;
}

.contacts {
	width: 100%;
	padding-top: 70px;
	padding-bottom: 85px;
	background-color: #1a1a1a;
	text-align: center;
}

.contacts-title {
	font-size: 30px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.3px;
}

.contacts-description {
	color: #ffffff;
	font-size: 30px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	text-decoration: none;
	padding-bottom: 3px;
	border-bottom: 1px solid #fff;
}

.contacts-text {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.14px;
	margin-bottom: 20px;
	margin-top: 65px;
}

.contacts-phone {
	color: #ffffff;
	font-size: 36px;
	font-weight: 400;
	text-decoration: none;
	letter-spacing: 0.36px;
}

.footer-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 33px;
}

.footer-menu-item:not(:last-child) {
	margin-right: 30px;
}

.footer-menu-link {
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	text-align: left;
	letter-spacing: 0.18px;
	border-bottom: 1px solid #fff;
	padding-bottom: 3px;
}

.sale-cards {
	margin-top: 75px;
	margin-bottom: 40px;
}

.more {
	letter-spacing: 0.14px;
	font-weight: 400;
	font-size: 14px;
	color: #f24841;
	text-align: center;
	margin-top: 39px;
	padding: 10px;
	text-decoration: none;
}

.more-text {
	padding-bottom: 3px;
	border-bottom: 1px solid #f24841;
}

.more:after {
	content: '';
	display: inline-block;
	width: 10px;
	height: 4px;
	background: url("../img/carret.svg") no-repeat center;
	margin-left: 14px;
	vertical-align: middle;
}

.counter-input {
	width: 40px;
	height: 40px;
	border: 2px solid #ffffff;
	text-align: center;
	color: #ffff;
	background-color: #292929;
	margin-left: 15px;
	margin-right: 15px;
}

.counter-button {
	width: 40px;
	height: 40px;
	font-size: 16px;
	color: #fff;
	background-color: #292929;
	border: none;
}

.card-button {
	font-size: 14px;
	width: 100%;
	padding: 16px 10px 13px;
	text-transform: uppercase;
}

.footer-second {
	background-color: #fff;
	padding-top: 48px;
	padding-bottom: 45px;
}

.footer-description {
	color: #292929;
}

.footer-social {
	font-size: 16px;
}

.social-link {
	margin-left: 20px;
}

.footer-label {
	display: block;
	font-size: 14px;
	padding-bottom: 12px;
}

.footer-info {
	text-align: right;
}

.footer-phone {
	text-decoration: none;
	color: #fff;
	display: block;
	font-size: 24px;
	margin-bottom: 12px;
}

.developer-contacts {
	text-align: right;
	font-size: 12px;
	color: #101010;
	letter-spacing: 0.12px;
}

.dev-link {
	color: #101010;
	text-decoration: none;
	border-bottom: 1px solid #4c4c4c;
}

.modal {
	display: none
}

.modal-title {
	color: #292929
}

.modal-button {
	width: 100%;
}

.modal-input {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 18px;
}
.hidden{
	display: none;
	visibility: hidden;
}
@media (max-width: 768px) {
	.header {
		text-align: center;
	}
	.header-contacts {
		text-align: center;
	}
	.hero {
		padding-top: 50px;

	}
	.hero-title {
		font-size: 24px;
		margin-bottom: 20px;
		line-height: 1.6;
	}
	.hero-description {
		font-size: 16px;
		line-height: 1.6;
	}
	.button {
		padding: 20px 40px;
	}
	.colors {
		max-width: 200px;
		margin: auto;
	}
	.card-label {
		margin: 10px auto;
		display: block;
	}
	.footer-info {
		text-align: left;
	}
}

@media (max-width: 576px) {
	.contacts {
		text-align: left;
	}
	.contacts-description {
		padding: 0;
	}
	.footer-info {
		text-align: left;
	}
}

